$locale-map: (
    ja-jp: (
        newsokur,
        newsokuexp,
        japan_anime,
        nanJ,
        I_am_not_Abe,
        newsg,
        eiganews,
        sokur2,
        newsokunomoral,
        news_bp,
        Giron,
        TUSOSS,
        kokkai,
        giin,
        senkyo,
        yoronchosa,
        news_r,
        eigo,
        shikyo,
        kokoro,
        karada,
        kaigai_seikatsu,
        hage,
        hellowork,
        ketojapan,
        J_SFX,
        narou,
        engei,
        petdaisuki,
        eiganews,
        jinjya,
        Jomon,
        Zartan_branch,
        GuessTheEiga,
        nuigurumi,
        Sangokushi,
        pachinko_slot,
        jisaku_poem,
        keiba,
        BayStars,
        ongakur,
        BABYMETAL_japan,
        akb48,
        bzvermillion,
        jp_anime,
        japan_anime,
        charactorvoice,
        ja_manga,
        fffffffuuuuuuuuuuuuJP,
        PolandballJapanese,
        jp_smahogames,
        steamr,
        shogiR,
        otoge,
        retrogamejp,
        consolegame,
        Kakuge,
        RogueLikesLOS,
        hortensia_saga,
        chaos_dragon,
        windowsphonejp,
        Gaming_Device,
        jisakupc,
        pilgrim_android,
        Reddiestnewsokurev,
        newsokuvip,
        lowlevelaware,
        kusosure,
        sayjaaaaaaap,
        Charsenyou,
        gazou,
        neet4r,
        ahotalk,
        rakugakicho,
        chiebukuro,
        anarchy_anarchism,
        nfja,
        oogiri,
        Fuee,
        yarou,
        nununununu,
        zatuR,
        ryuuseigai,
        suresokupinkall,
        KakuniR,
        drawr,
        YJSNPI,
        shikokuchu,
        idolgazou,
        megami,
        okamaonabe,
        gamedev_hentai,
        erogazo,
        manko,
        reinopool,
    ),
    zh-hans: (
        China_irl,
        real_China_irl,
        Chinatown_irl,
        chonglangTV,
        hanren,
        saraba1st,
        saraba2nd,
        CLTV,
    ),
    zh-hant: (
        w96j0,
    ),
);

@each $locale, $subs in $locale-map {
    $selectors: ();
    $bodySelectors: ();
    @each $sub in $subs {
        $selectors: append($selectors, 'a[href^="/r/#{$sub}/"]', comma);
        $selectors: append($selectors, '.subredditvars-r-#{to-lower-case($sub)}', comma);
        $selectors: append($selectors, 'body.res-r-#{to-lower-case($sub)}', comma);
    }
    @if $locale == ja-jp {
        $selectors: append($selectors, 'a[href^="/r/"][href$="_ja/" i]', comma);
        $selectors: append($selectors, 'a[href^="/r/"][href$="_JP/" i]', comma);
        $selectors: append($selectors, 'body[class*="res-r-"][class*="_ja" i]', comma);
        $selectors: append($selectors, 'body[class*="res-r-"][class*="_JP" i]', comma);
        $selectors: append($selectors, '[class*="subredditvars-r-"][class*="_ja" i]', comma);
        $selectors: append($selectors, '[class*="subredditvars-r-"][class*="_JP" i]', comma);
    }
    #{$selectors} {
        -webkit-locale: "#{$locale}";
        @if $locale == ja-jp {
            code {
                font-family: "MS PGothic", monospace;
                line-height: 1em;
            }
        }
    }
}
