$locale-map: (
        ja-jp: (
                newsokur,
                japan_anime,
                FoodPorn_ja,
                nanJ,
                Politics_ja,
                kokusaijyousei_ja,
                I_am_not_Abe,
                BakaNewsJP,
                quake_jp,
                sky_ja,
                newsg,
                eiganews,
                energy_news_ja,
                Editorial_jp,
                sokur2,
                newsokunomoral,
                news_bp,
                ombudsman_ja,
                Giron,
                TUSOSS,
                kokkai,
                giin,
                senkyo,
                yoronchosa,
                news_r,
                eigo,
                airlines_ja,
                shikyo,
                kokoro,
                karada,
                qualification_jp,
                interpretation_ja,
                kaigai_seikatsu,
                IAmA_ja,
                Gakusei_ja,
                hage,
                hellowork,
                ketojapan,
                science_jp,
                sky_ja,
                whistory_ja,
                cis_ja,
                linguistics_ja,
                MachineLearning_JP,
                J_SFX,
                dokusyo_syoseki_r,
                kindle_sale_jp,
                travel_jp,
                narou,
                engei,
                petdaisuki,
                stationery_jp,
                washlet_jp,
                dam_jp,
                Aquariums_ja,
                plasticmodel_ja,
                toys_ja,
                AnimeFigures_ja,
                digitalcamera_jp,
                kaden_ja,
                PortableAV_JP,
                occult_ja,
                ruins_jp,
                craft_ja,
                tvdrama_jp,
                tobacco_ja,
                eiganews,
                dolls_ja,
                Photograph_ja,
                motorcycle_ja,
                radiocontrol_ja,
                souji_ja,
                jinjya,
                knives_ja,
                Jomon,
                Zartan_branch,
                GuessTheEiga,
                Cthulhu_ja,
                koya_ja,
                kaleidoscope_ja,
                hamsters_ja,
                darts_ja,
                nuigurumi,
                Sangokushi,
                pachinko_slot,
                radio_ja,
                TV_ja,
                jisaku_poem,
                100 kin,
                relaynovel_ja,
                Netflix_jp,
                soccer_jp,
                keiba,
                sumo_ja,
                bicycle_ja,
                Motorsports_ja,
                prowrestling_ja,
                BayStars,
                drunk_ja,
                drpepper_ja,
                FoodPorn_ja,
                cooking_ja,
                ongakur,
                BABYMETAL_japan,
                VOCALOID_UTAU_jp,
                progre_jp,
                akb48,
                anison_jp,
                musicmakers_ja,
                GuitarBass_JA,
                eroson_jp,
                gamemusic_jp,
                bzvermillion,
                METAL_jp,
                jp_anime,
                japan_anime,
                lovelive_ja,
                lovelive_sunshine_ja,
                wakeupgirls_jp,
                mylittlepony_ja,
                charactorvoice,
                anikyar_ja,
                Pripara_Ja,
                old_anime_jp,
                webcomic_ja,
                ja_manga,
                fffffffuuuuuuuuuuuuJP,
                Oekaki_ja,
                PolandballJapanese,
                jp_smahogames,
                steamr,
                shogiR,
                otoge,
                mmorpg_ja,
                retrogamejp,
                browsergame_jp,
                pcgames_ja,
                consolegame,
                appligame_jp,
                gamenews_ja,
                TableTopGames_ja,
                nintendo_jp,
                iosgame_ja,
                Kakuge,
                gamemaker_ja,
                PlayStation_jpdq_oheya_ja,
                pokemon_jp,
                imas_ja,
                minecraft_jp,
                Smite_JP,
                touhou_jp,
                heroesofthestorm_ja,
                citiesskylines_ja,
                dota2_JP,
                League_of_Legends_JP,
                ffxiv_ja,
                thelongdark_jp,
                StarCraft_JP,
                kancolle_ja,
                skyrimmod_jp,
                dqx_jp,
                PSO2_jp,
                rocksmith_jp,
                PuzzleAndDragons_ja,
                ingress_ja,
                GTAV_JP,
                nintendo_jp,
                elona_jp,
                MONOLITHSOFT_JP,
                gundambreaker2_jp,
                RogueLikesLOS,
                MonsterHunter_jp,
                hortensia_saga,
                Cho_Ginga_Sendan_jp,
                GlobalOffensive_ja,
                chaos_dragon,
                granbluefantasy_ja,
                FireEmblem_ja,
                DarkSouls3_ja,
                Eve_ja,
                starcitizen_jarep2_2ch_ja,
                raspberry_pi_ja,
                Android_JP,
                programming_jp,
                apple_jp,
                hackintosh_ja,
                windowsphonejp,
                Gaming_Device,
                jisakupc,
                software_ja,
                hardware_ja,
                OnlineStorage_ja,
                cryptocurrency_ja,
                CG_ja,
                pilgrim_android,
                security_ja,
                css_ja,
                Reddiestnewsokurev,
                newsokuvip,
                lowlevelaware,
                kansou_jp,
                kusosure,
                sayjaaaaaaap,
                Charsenyou,
                gazou,
                hitomozi_ja,
                nsrsurvey_jp,
                neet4r,
                ahotalk,
                rakugakicho,
                chiebukuro,
                anarchy_anarchism,
                nfja,
                oogiri,
                Fuee,
                yarou,
                AskReddit_ja,
                nununununu,
                zatuR,
                ryuuseigai,
                suresokupinkall,
                KakuniR,
                yuri_jp,
                drawr,
                YJSNPI,
                erogenews_ja,
                shikokuchu,
                idolgazou,
                megami,
                okamaonabe,
                gamedev_hentai,
                erogazo,
                manko,
                reinopool,
        ),
        zh: (
                China_irl,
                Chinatown_irl,
                chonglangTV,
                hanren,
                saraba1st,
                saraba2nd,
        )
);

@each $locale, $subs in $locale-map {
  $selectors: ();
  @each $sub in $subs {
    $selectors: append($selectors, 'a[href^="/r/#{$sub}/"]', comma);
    $selectors: append($selectors, '.SubredditVars-r-#{$sub}', comma);
    $selectors: append($selectors, 'body.res-r-#{$sub}', comma);
  }
  div.Post {
    #{$selectors} {
      h3 {
        -webkit-locale: "#{$locale}"
      }
    }
  }
}